@model List<Info>
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_PaymentPage.cshtml";


}
@section css{
    <link href="~/Content/bill.css" rel="stylesheet" />
}
<h2>Booking Detail</h2>

<div class="container">


    <div class="row">
        <div class="col-3">

            <b>Check-in:</b>
            <span id="ci">@ViewBag.CI</span> <br />
            <b>Check-out:</b>
            <span id="co">@ViewBag.CO</span>
            </div>
        <div class="col-3">
            <b>Discost: </b>
            <span id="discost">@ViewBag.discost</span>
            <br />
            <br />
            <b>Total: </b>
            <span id="total">@ViewBag.Total</span>
            <span> VND</span>
            <span id="code" style="display:none">@ViewBag.code</span>

        </div>


        <div class="col-12">
            <div class="container-table100">
                <div class="wrap-table100">

                        <div class="table">

                            <div class="row header">
                                <div class="cell">
                                    Rooms
                                </div>
                                <div class="cell">
                                    Price
                                </div>
                                <div class="cell">
                                    Amount
                                </div>
                                <div class="cell">
                                    Total
                                </div>

                            </div>
                            @foreach (Info item in Model)
                            {
                                <div class="row">
                                    <div class="cell">
                                        @item.getTypeRoom()
                                    </div>
                                    <div class="cell">
                                        @item.Gia
                                    </div>

                                    <div class="cell">
                                        @item.Amount
                                    </div>
                                    <div class="cell">
                                        @(item.Gia * item.Amount) VND
                                    </div>

                                </div>
                            }



                        </div>



                   
                </div>
            </div>

        </div>
    </div>
    <div class="row float-r">
        <div class="col">
            <input class="btn btn-success" type="button" value="Next" onclick="next()" />
            <input class="btn btn-primary" type="button" value="Back" onclick="back()" />
        </div>
    </div>

</div>
